.navbar {
  margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  line-height: 50px;
  z-index: 100;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  /* Subtle border & depth */
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  transition: background 300ms ease, box-shadow 300ms ease;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(199, 199, 199);
  text-align: center;
  text-decoration: none;
  align-items: center;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}
.subnav .subnavbtn {
  display: flex;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  text-align: center;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}
.navbar a:hover,
.subnav:hover .subnavbtn {
  
  transition: background-color 600ms;
  z-index: 10;
}
.subnavContent {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  width: 100%;
  opacity: 0;
  height: 20vh;
  color: #f9b03a;
  transform: translateY(-50%);
  transition: opacity 600ms, transform 600ms;
  z-index: 10;
}
.subnavContent a {
  display: flex;
  flex-direction: column;
  color: black;
  text-decoration: none;
  transition: background-color 600ms;
  align-items: center;
  justify-content: center;
  height: fit-content;
  line-height: 25px;
}
a:hover .subnavContent {
  background-color: #eee;
  color: #f9b03a;
}
.subnav:hover > .subnavContent,
.subnavContent:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: opacity 600ms, transform 600ms;
  opacity: 1;
  color: #f9b03a;
  transform: translateY(0%);
}
.divStyle {
  padding: 0 16px;
}
.subnavContent .category {
  height: fit-content;
  justify-content: space-evenly;
}
.icon {
  margin: 0px auto;
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  color: #921345;
  z-index: 10;
}
.navbar:hover {
  background-color: white;
  color: black;
}
.navbar:hover a {
  color: black;
}
.showMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  opacity: 1;
  transform: translateY(0%);
}
.optionsNav {
  display: flex;
}
.category {
  height: 200px;
  width: 200px;
}
.slidebottom {
  -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.logo {
  height: 30px;
}
.logo:hover {
  background-color: none;
}

/**/

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}

/*RESPONSIVE*/
@media (max-width: 768px) {
  .navbar {
    height: 80px;
  }
  .subnav {
    display: none;
  }
  .optionsNav {
    display: none;
  }
}
