.main{
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .video {
    width: 100%;
    height: 100%;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 117.5%;
    background-color: rgba(0, 0, 0, 0.4); 
  }